<div class="value">
  <div class="value-item">
    <h1>VALUE OF MONEY</h1>
    <div class="left-img">
      <img src="img/bank.jpg" />
    </div>
    <div class="right-paragraph">
      <p>
        The value of money can be determined by the demand that it has. We can
        measure the value of money in three ways: by the exchange rates,
        treasury notes and through foreign exchange reserves Inflation is when
        the value of money steadily declines over time. Once people expect that
        prices will rise, they are more likely to buy now, before prices go
        higher. That increases demand, which tells producers they can safely
        pass on more costs.
        <br /><br />
        Deflation is when the value of money increases. That sounds like a great
        thing, but it is worse for the economy than inflation.
      </p>
    </div>
    <div class="clear"></div>
    <hr />
  </div>
  <div class="value-item">
    <h1>GMO FOOD</h1>
    <div class="left-img">
      <img src="img/veg.jpg" />
    </div>
    <div class="right-paragraph">
      <p>
        The full form of GMO Food is Genetically Modified Organism. Their
        genetic material has been modified using various methods of genetic
        engineering.
        <br /><br />
        They are also used for providing resistance to certain pests, diseases,
        environmental conditions and chemical treatments..
        <br /><br />
        Bacteria are the easiest microorganisms to engineer. They are widely
        used for research, food production, industrial protein purification and
        art.
        <br /><br />
        Viruses are used as vectors for inserting genetic information into other
        organisms. This process is called transduction and the recipient of the
        introduced DNA becomes a GMO. Different viruses have different
        efficiencies and capabilities. Researchers can use this to control
        various factors; like the target location, insert size and duration of
        gene expression. Any dangerous sequences inherent in the virus should be
        removed, while those that allow the gene to be delivered effectively are
        retained.
        <br /><br />
        Fungi is used in making biopesticides. Fungi has the advantage of
        infecting the insects through a single contact, unlike bacteria and
        viruses.
      </p>
    </div>
    <div class="clear"></div>
    <hr />
  </div>
  <div class="value-item">
    <h1>VIEW OF WORLD IN 2100</h1>
    <div class="left-img">
      <img src="img/hands.jpg" alt="Video Editing" />
    </div>
    <div class="right-paragraph">
      <p>
        The population would definitely increase and so as the technology.
        everything will controlled by technology. People might hire robots to do
        their work. Commute won't be a problem as we will be able to do
        everything through technology. Even the cell phones, laptops, MP3
        Players might get replaced by something else which is more entertaining
        and easier to access by everyone.
      </p>
    </div>
  </div>
</div>
